@import "../../index.scss";


input[type=password] {
    border: 1px solid #acacac;
    border-radius: 25px;
    width: 100%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    font-size: 17px;
}

.checkBoxButton {
    width: 27px;
    height: 24px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: red;
  }

button{
    background: #888888 0% 0% no-repeat padding-box;
border-radius: 29px;
width: 200px;
height: 40px;
color: #fff;
border: none;
outline: none;

}


.remember-container{
    display: flex;
    margin: 2% 0;
    align-items: center;
    &>*{
        margin: 0 2%;
    }
   
}